/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1199px) {
	.stub{
		background-size: cover;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.StubContant{
		margin: 25px 0 0 50px!important;
	}
	.StubOrder{
		margin: 25px 0 0 50px!important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.StubHeader{
		flex-direction: column;
	}
	.StubHeader-social {
    	margin: 25px 0 0 50px!important;
	}
	
	button{
		margin-top:5px!important;
	}
	h3{
		text-shadow: 3px 3px 3px rgba(0,0,0,0.3) ;
	}
	.StubContant-pr{
		margin-right: 52px!important;
	}
	.StubOrder h3{
		color: #010101;
	}
	
}
@media only screen and (max-width : 576px) {
	
	.StubContant{
		justify-content: space-between;
	}
	
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.StubContant{
		flex-direction: column;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}


 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
	.stub{
		background-size: cover;
	}
}