.StubContant{
	display:flex;
	margin: 56px 0 0 185px;
	color: #ffffff;
}
.StubContant-pr{
	margin-right: 78px;
}
h3{
	font-family: "FuturaDemiC", sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 2px;
}
p{
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
}