.StubHeader{
	display: flex;
	justify-content: space-between;


}
.StubHeader-social{
    margin: 68px 22px 0  0;
    letter-spacing: 17px;
    filter: grayscale(1) invert() brightness(2);
}
.StubHeader-logo{
 	margin: 28px 0 0 40px;

 	
}
.StubHeader-logo--img{
	filter: invert() brightness(2) drop-shadow(15px 7px 10px #6583aa);
	padding-right: 10px;
	
}
