.StubOrder{
	margin: 0 0 0 185px;
	color: #ffffff;
	padding-bottom: 20px;
}
.StubOrder h3{
	font-family: "FuturaDemiC", sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 2px;
}
button {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	color: black;
	background: white;
	padding: 13px 32px 13px 32px;
	border-radius: 50px;
	border: white;
	margin-top: 10px;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.16);
}
a{
	color:white;
}
a:not(:focus):not(:hover){
	text-decoration: none;
}

