*{
	
	
}
html,
body{
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.stub{
	background-image: url(../img/foto.png) ;
	display: block;
	background-position: top center;
	background-repeat: no-repeat;  
	max-width: 100%; 
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}